@use './sub/zero.styles.scss' as *;
@use './sub/tags.styles.scss' as *;
@use './sub/ui.styles.scss' as *;

.wrapper {
	max-width: 1320px;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 5px;
}

.companyTitle {
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.main-page {
	display: flex;
	flex-direction: column;
	gap: 100px;
	margin: 20px 0px;

	&__first-section {
		margin-top: 30px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		align-items: center;

		&__left-block {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 25%;
		}

		&__right-block {
			width: 65%;
		}
	}

	&__second-section {
		display: flex;
		flex-direction: column;
		gap: 50px;
		align-items: center;
		width: 100%;

		&__grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			justify-content: space-between;
			row-gap: 30px;
			width: 100%;
			&__element {
				width: 300px;
				text-align: left;
			}
		}
	}

	&__third-section {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
		width: 100%;

		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		padding: 24px;
	}
}

.contact-us-widget-form {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 300px;

	&__input-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 60px;

		&__error {
			font-weight: 500;
			font-size: 15px;
			color: red;

			&::after {
				content: '*';
				margin-left: 3px;
			}
		}

		&__counter {
			position: absolute;
			bottom: 45px;
			right: 10px;
		}
	}

	&__input-container:nth-child(3) {
		height: 150px;
	}
}

.submission-page {
	height: 79vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
